@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #B3CFF2, #0455BF);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #033b6bda;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #034AA6;
    text-align: center;
    text-shadow: 1px 1px 2px #07345c9d;
}
h2 {
    color: #035AA6;
}
p {
    text-align: justify;
}